version: 2
updates:
  - package-ecosystem: "gomod"
    directory: "/"
    schedule:
      interval: "daily"

  - package-ecosystem: cargo
    directory: "/"
    schedule:
      interval: daily

  - package-ecosystem: "github-actions"
    directories:
    - "/"
    - ".github/actions/*"
    schedule:
      interval: "daily"

  - package-ecosystem: "docker"
    directory: "/"
    schedule:
      interval: "daily"

  - package-ecosystem: "docker"
    directory: "/proxy-init/integration/iptables"
    schedule:
      interval: "daily"
