targets = [
    { triple = "x86_64-unknown-linux-gnu" },
    { triple = "aarch64-unknown-linux-gnu" },
    { triple = "armv7-unknown-linux-gnu" },
]

[advisories]
db-path = "~/.cargo/advisory-db"
db-urls = ["https://github.com/rustsec/advisory-db"]
yanked = "deny"
ignore = []

[licenses]
allow = ["Apache-2.0", "BSD-3-Clause", "ISC", "MIT"]
confidence-threshold = 0.8
exceptions = [
    { allow = [
        "ISC",
        "MIT",
        "OpenSSL",
    ], name = "ring", version = "*" },

    # The Unicode-DFS--2016 license is necessary for unicode-ident because they
    # use data from the unicode tables to generate the tables which are
    # included in the application. We do not distribute those data files so
    # this is not a problem for us. See https://github.com/dtolnay/unicode-ident/pull/9/files
    # for more details.
    { allow = [
        "MIT",
        "Apache-2.0",
        "Unicode-DFS-2016",
    ], name = "unicode-ident" },
    { allow = [
        "Zlib",
    ], name = "adler32" },
]

[[licenses.clarify]]
name = "ring"
version = "*"
expression = "MIT AND ISC AND OpenSSL"
license-files = [{ path = "LICENSE", hash = 0xbd0eed23 }]

[bans]
multiple-versions = "deny"
# Wildcard dependencies are used for all workspace-local crates.
wildcards = "allow"
highlight = "all"
deny = []
skip = [
    # `rustls-pemfile` and `k8s-openapi` depend on versions of `base64` that
    # have diverged significantly.
    { name = "base64" },
    # https://github.com/hawkw/matchers/pull/4
    { name = "regex-automata", version = "0.1" },
    { name = "regex-syntax", version = "0.6" },
    # syn v2 has been released and some libraries are slower to adopt it
    { name = "syn", version = "1.0" },
    # recent tokio versions (v1.34) depend on socket2 v0.5.5 while hyper is
    # stuck on v0.4.10
    { name = "socket2" },
]
skip-tree = [
    # `serde_json` and `h2` depend on diverged versions of `indexmap` (2.0.x and
    # 1.9.x, respectively)
    { name = "indexmap" },
]

[sources]
unknown-registry = "deny"
unknown-git = "deny"
allow-registry = ["https://github.com/rust-lang/crates.io-index"]

[sources.allow-org]
github = []
