[graph]
targets = [
    { triple = "x86_64-unknown-linux-gnu" },
    { triple = "aarch64-unknown-linux-gnu" },
]

[advisories]
db-path = "~/.cargo/advisory-db"
db-urls = ["https://github.com/rustsec/advisory-db"]
ignore = [
    # Update kube to address unmaintained dependencies
    "RUSTSEC-2024-0384",
    "RUSTSEC-2024-0388",
]

[licenses]
allow = ["Apache-2.0", "BSD-3-Clause", "ISC", "MIT", "Zlib", "Unicode-3.0"]
confidence-threshold = 0.8
exceptions = [
    # The Unicode-DFS--2016 license is necessary for unicode-ident because they
    # use data from the unicode tables to generate the tables which are
    # included in the application. We do not distribute those data files so
    # this is not a problem for us. See https://github.com/dtolnay/unicode-ident/pull/9/files
    # for more details.
    { allow = [
        "MIT",
        "Apache-2.0",
        "Unicode-DFS-2016",
    ], name = "unicode-ident" },
    { allow = [
        "ISC",
        "Apache-2.0",
        "OpenSSL"
    ], name = "aws-lc-sys"}
]

[bans]
multiple-versions = "deny"
# Wildcard dependencies are used for all workspace-local crates.
wildcards = "allow"
highlight = "all"
skip-tree = [
    # `serde_json` and `h2` depend on diverged versions of `indexmap` (2.0.x and
    # 1.9.x, respectively)
    { name = "indexmap" },
    # thiserror v2 is still making its way through the ecosystem
    { name = "thiserror", version = "1" },
    # getrandom v0.3 is still making its way through the ecosystem
    { name = "getrandom", version = "0.2" },
]

[sources]
unknown-registry = "deny"
unknown-git = "deny"
allow-registry = ["https://github.com/rust-lang/crates.io-index"]

[sources.allow-org]
github = []
