name: Actions

on:
  pull_request:
    paths:
      - .devcontainer/devcontainer.json
      - .github/workflows/**
      - justfile

permissions:
  contents: read

jobs:
  actionlint:
    runs-on: ubuntu-24.04
    timeout-minutes: 10
    steps:
      - uses: linkerd/dev/actions/setup-tools@v48
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8
      - run: just action-lint

  devcontainer-versions:
    runs-on: ubuntu-24.04
    steps:
      - uses: linkerd/dev/actions/setup-tools@v48
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8
      - run: just action-dev-check
