name: cni-plugin-integration

on: workflow_dispatch


jobs:
  cni-flannel-test:
    continue-on-error: true
    timeout-minutes: 15
    runs-on: ubuntu-latest
    steps:
      - uses: linkerd/dev/actions/setup-tools@v42
      - uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11
      - name: Run CNI integration tests
        run: just cni-plugin-test-integration-flannel
  cni-calico-test:
    continue-on-error: true
    timeout-minutes: 15
    runs-on: ubuntu-latest
    steps:
      - uses: linkerd/dev/actions/setup-tools@v42
      - uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11
      - name: Run CNI integration tests
        run: just cni-plugin-test-integration-calico
  cni-cilium-test:
    continue-on-error: true
    timeout-minutes: 15
    runs-on: ubuntu-latest
    steps:
      - uses: linkerd/dev/actions/setup-tools@v42
      - uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11
      - name: Run CNI integration tests
        run: just cni-plugin-test-integration-cilium
  ordering-test:
    continue-on-error: true
    timeout-minutes: 15
    runs-on: ubuntu-latest
    steps:
      - uses: linkerd/dev/actions/setup-tools@v42
      - uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11
      - name: Run CNI ordering tests
        run: just cni-plugin-test-ordering
  repair-controller:
    timeout-minutes: 15
    runs-on: ubuntu-latest
    steps:
      - uses: linkerd/dev/actions/setup-tools@v42
      - uses: actions/checkout@3df4ab11eba7bda6032a0b82a6bb43b11571feac
      - name: Run repair-controller tests
        run: just cni-repair-controller-integration
