name: cni-plugin-integration

on:
  workflow_dispatch:
  pull_request:
    paths:
      - Dockerfile-cni-plugin
      - cni-plugin/integration/flannel/Dockerfile-tester
      - cni-plugin/integration/run.sh
      - cni-plugin/**

jobs:
  cni-flannel-test:
    continue-on-error: true
    timeout-minutes: 15
    runs-on: ubuntu-20.04
    steps:
      - uses: linkerd/dev/actions/setup-tools@v41
      - uses: actions/checkout@f43a0e5ff2bd294095638e18286ca9a3d1956744
      - name: Run CNI integration tests
        run: just cni-plugin-test-integration-flannel
  cni-calico-test:
    continue-on-error: true
    timeout-minutes: 15
    runs-on: ubuntu-20.04
    steps:
      - uses: linkerd/dev/actions/setup-tools@v41
      - uses: actions/checkout@f43a0e5ff2bd294095638e18286ca9a3d1956744
      - name: Run CNI integration tests
        run: just cni-plugin-test-integration-calico
  cni-cilium-test:
    continue-on-error: true
    timeout-minutes: 15
    runs-on: ubuntu-20.04
    steps:
      - uses: linkerd/dev/actions/setup-tools@v41
      - uses: actions/checkout@f43a0e5ff2bd294095638e18286ca9a3d1956744
      - name: Run CNI integration tests
        run: just cni-plugin-test-integration-cilium
  ordering-test:
    continue-on-error: true
    timeout-minutes: 15
    runs-on: ubuntu-20.04
    steps:
      - uses: linkerd/dev/actions/setup-tools@v41
      - uses: actions/checkout@f43a0e5ff2bd294095638e18286ca9a3d1956744
      - name: Run CNI ordering tests
        run: just cni-plugin-test-ordering
