name: cni-plugin-integration

on:
  workflow_dispatch:
  pull_request:
    paths:
      - Dockerfile-cni-plugin
      - cni-plugin/integration/flannel/Dockerfile-tester
      - cni-plugin/integration/run.sh
      - cni-plugin/**
      - cni-repair-controller/**
      - justfile*

jobs:
  cni-test:
    strategy:
      matrix:
        cni: [flannel, calico, cilium]
        iptables-mode: [legacy, nft]
    timeout-minutes: 15
    runs-on: ubuntu-latest
    steps:
      - uses: linkerd/dev/actions/setup-tools@v45
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683
      - name: Run CNI integration tests
        env:
          IPTABLES_MODE: ${{ matrix.iptables-mode }}
        run: just cni-plugin-test-integration-${{ matrix.cni }}
  ordering-test:
    continue-on-error: true
    timeout-minutes: 15
    runs-on: ubuntu-latest
    steps:
      - uses: linkerd/dev/actions/setup-tools@v45
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683
      - name: Run CNI ordering tests
        run: just cni-plugin-test-ordering
  repair-controller:
    timeout-minutes: 15
    runs-on: ubuntu-latest
    steps:
      - uses: linkerd/dev/actions/setup-tools@v45
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683
      - name: Run repair-controller tests
        run: |
          set -xeuo pipefail
          echo $?
          #apt list --installed
          sudo apt-get install -y clang-19
          echo $?
          #ls -l /usr/lib/llvm*
          just cni-repair-controller-integration
          echo $?
  repair-controller-old-ubuntu:
    timeout-minutes: 15
    runs-on: ubuntu-22.04
    #container: ghcr.io/linkerd/dev:v45-rust
    steps:
      - uses: linkerd/dev/actions/setup-rust@v45
      - uses: linkerd/dev/actions/setup-tools@v45
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683
      - name: Run repair-controller tests
        run: |
          just cni-repair-controller-integration
