name: cni-plugin-integration

on:
  workflow_dispatch:
  pull_request:
    paths:
      - Dockerfile-cni-plugin
      - cni-plugin/integration/smoketest/Dockerfile-tester
      - cni-plugin/integration/run.sh
      - cni-plugin/**.go


jobs:
  integration:
    timeout-minutes: 15
    runs-on: ubuntu-20.04
    steps:
      - uses: linkerd/dev/actions/setup-tools@v38
      - uses: actions/checkout@755da8c3cf115ac066823e79a1e1788f8940201b
      - run: just k3d-create
      - run: just build-cni-plugin-image
      - run: just build-cni-plugin-test-image
      - run: just cni-plugin-test-integration
