name: Go

on:
  pull_request:
    paths:
      - .github/workflows/go.yml
      - '**/*.go'
      - go.sum
      - justfile

jobs:
  lint:
    runs-on: ubuntu-20.04
    container: ghcr.io/linkerd/dev:v38-go
    steps:
      - uses: actions/checkout@755da8c3cf115ac066823e79a1e1788f8940201b
      - uses: golangci/golangci-lint-action@0ad9a0988b3973e851ab0a07adf248ec2e100376
        with:
          args: --timeout 3m --verbose

  fmt:
    runs-on: ubuntu-20.04
    container: ghcr.io/linkerd/dev:v38-go
    steps:
      - uses: actions/checkout@755da8c3cf115ac066823e79a1e1788f8940201b
      - run: just go-fmt-check

  unit-test:
    runs-on: ubuntu-20.04
    container: ghcr.io/linkerd/dev:v38-go
    steps:
      - uses: actions/checkout@755da8c3cf115ac066823e79a1e1788f8940201b
      - run: just proxy-init-test-unit

