name: Go

on:
  pull_request:
    paths:
      - .github/workflows/go.yml
      - '**/*.go'
      - go.sum
      - justfile

permissions:
  contents: read

jobs:
  lint:
    runs-on: ubuntu-24.04
    container: ghcr.io/linkerd/dev:v48-go
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8
      - run: git config --global --add safe.directory "$PWD" # actions/runner#2033
      - run: just go-lint --verbose --timeout=10m

  fmt:
    runs-on: ubuntu-24.04
    container: ghcr.io/linkerd/dev:v48-go
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8
      - run: git config --global --add safe.directory "$PWD" # actions/runner#2033
      - run: just go-fmt-check

  unit-test:
    runs-on: ubuntu-24.04
    container: ghcr.io/linkerd/dev:v48-go
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8
      - run: git config --global --add safe.directory "$PWD" # actions/runner#2033
      - run: just proxy-init-test-unit

