name: Go

on:
  pull_request:
    paths:
      - .github/workflows/go.yml
      - '**/*.go'
      - go.sum
      - justfile

permissions:
  contents: read

jobs:
  lint:
    runs-on: ubuntu-24.04
    container: ghcr.io/linkerd/dev:v48-go
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd
      - run: git config --global --add safe.directory "$PWD" # actions/runner#2033
      - uses: actions/setup-go@7a3fe6cf4cb3a834922a1244abfce67bcef6a0c5
        with:
          go-version-file: go.mod
      - run: just go-lint --verbose --timeout=10m

  fmt:
    runs-on: ubuntu-24.04
    container: ghcr.io/linkerd/dev:v48-go
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd
      - run: git config --global --add safe.directory "$PWD" # actions/runner#2033
      - uses: actions/setup-go@7a3fe6cf4cb3a834922a1244abfce67bcef6a0c5
        with:
          go-version-file: go.mod
      - run: just go-fmt-check

  unit-test:
    runs-on: ubuntu-24.04
    container: ghcr.io/linkerd/dev:v48-go
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd
      - run: git config --global --add safe.directory "$PWD" # actions/runner#2033
      - uses: actions/setup-go@7a3fe6cf4cb3a834922a1244abfce67bcef6a0c5
        with:
          go-version-file: go.mod
      - run: just proxy-init-test-unit

