name: Go

on:
  pull_request:
    paths:
      - .github/workflows/go.yml
      - '**/*.go'
      - go.sum
      - justfile

jobs:
  lint:
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@93ea575cb5d8a053eaa0ac8fa3b40d7e05a33cc8
      - uses: golangci/golangci-lint-action@07db5389c99593f11ad7b44463c2d4233066a9b1

  fmt:
    runs-on: ubuntu-20.04
    container: ghcr.io/linkerd/dev:v30-go
    steps:
      - uses: actions/checkout@93ea575cb5d8a053eaa0ac8fa3b40d7e05a33cc8
      - run: just go-fmt-check

  unit-test:
    runs-on: ubuntu-20.04
    container: ghcr.io/linkerd/dev:v30-go
    steps:
      - uses: actions/checkout@93ea575cb5d8a053eaa0ac8fa3b40d7e05a33cc8
      - run: just proxy-init-test-unit

