name: Go

on:
  pull_request:
    paths:
      - .github/workflows/go.yml
      - '**/*.go'
      - go.sum
      - justfile

permissions:
  contents: read

jobs:
  lint:
    runs-on: ubuntu-latest
    container: ghcr.io/linkerd/dev:v42-go
    steps:
      - uses: actions/checkout@3df4ab11eba7bda6032a0b82a6bb43b11571feac
      - run: just go-lint --verbose --timeout=10m

  fmt:
    runs-on: ubuntu-latest
    container: ghcr.io/linkerd/dev:v42-go
    steps:
      - uses: actions/checkout@3df4ab11eba7bda6032a0b82a6bb43b11571feac
      - run: just go-fmt-check

  unit-test:
    runs-on: ubuntu-latest
    container: ghcr.io/linkerd/dev:v42-go
    steps:
      - uses: actions/checkout@3df4ab11eba7bda6032a0b82a6bb43b11571feac
      - run: just proxy-init-test-unit

