name: Integration tests

on:
  pull_request:
    paths:
      - .github/workflows/integration.yml
      - Dockerfile
      - go.mod
      - go.sum
      - justfile
      - proxy-init/**

jobs:
  proxy-init-integration:
    timeout-minutes: 15
    runs-on: ubuntu-24.04
    steps:
      - uses: linkerd/dev/actions/setup-tools@v47
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8
      - name: Run proxy-init integration tests
        run: just proxy-init-test-integration
