name: Integration tests
on:
  pull_request: {}
  push:
    paths-ignore:
    - '*.md'
    - '**/*.md'
    branches:
    - master
jobs:
  integration_tests:
    name: Proxy Init Integration Tests
    timeout-minutes: 30
    runs-on: ubuntu-20.04
    steps:
    - name: Checkout code
      uses: actions/checkout@2541b1294d2704b0964813337f33b291d3f8596b
    - uses: extractions/setup-just@aa5d15c144db4585980a44ebfdd2cf337c4f14cb
    - uses: AbsaOSS/k3d-action@b176c2a6dcae72e3e64e3e4d61751904ec314002
      name: "Create k3d cluster"
      with:
        cluster-name: init-test
    - name: Build images
      run: |
        just docker-proxy-init
        just docker-tester
      shell: bash
    - name: Run integration tests
      run: just test-integration
