name: Integration tests

on:
  pull_request:
    paths:
      - .github/workflows/integration.yml
      - '**/*.go'
      - Dockerfile
      - go.sum
      - integration_test/**
      - justfile

jobs:
  integration:
    timeout-minutes: 15
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@2541b1294d2704b0964813337f33b291d3f8596b
      - uses: extractions/setup-just@aa5d15c144db4585980a44ebfdd2cf337c4f14cb
      - uses: AbsaOSS/k3d-action@b176c2a6dcae72e3e64e3e4d61751904ec314002
        with:
          cluster-name: l5d-test
      - run: just proxy-init-image
      - run: just proxy-init-test-image
      - run: just proxy-init-test-integration-deps
      - run: just proxy-init-test-integration-run
