name: Integration tests

on:
  pull_request:
    paths:
      - .github/workflows/integration.yml
      - Dockerfile
      - go.mod
      - go.sum
      - justfile
      - proxy-init/**

jobs:
  integration:
    timeout-minutes: 15
    runs-on: ubuntu-20.04
    container: ghcr.io/linkerd/dev:v30-tools
    steps:
      - uses: actions/checkout@93ea575cb5d8a053eaa0ac8fa3b40d7e05a33cc8
      - run: just k3d-create
      - run: just proxy-init-image
      - run: just proxy-init-test-image
      - run: just proxy-init-test-integration-deps
      - run: just proxy-init-test-integration-run
