name: Validator release

on:
  pull_request:
    paths:
      - .github/workflows/release-validator.yml
  push:
    tags: ["validator/v*"]

permissions:
  contents: read

jobs:
  meta:
    timeout-minutes: 15
    runs-on: ubuntu-24.04
    container: ghcr.io/linkerd/dev:v48-rust
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8
      - uses: ./.github/actions/version-mode
        id: meta
        with:
          package: validator
          check: true
    outputs:
      repo: ${{ steps.meta.outputs.repo }}
      mode: ${{ steps.meta.outputs.mode }}
      version: ${{ steps.meta.outputs.version }}

  package:
    needs: meta
    strategy:
      matrix:
        arch: [amd64, arm64]
        os: [windows, linux]
        exclude:
          - os: windows
            arch: arm64
    timeout-minutes: 10
    runs-on: ubuntu-24.04
    container: ghcr.io/linkerd/dev:v48-rust-musl
    steps:
      - name: Install MinGW
        if: matrix.os == 'windows'
        run: apt-get update && apt-get install mingw-w64 -y
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8
      - run: just validator arch=${{ matrix.arch }} os=${{ matrix.os }} profile=release version=${{ needs.meta.outputs.version }} package
        env:
          CARGO: "cargo auditable"
      - uses: actions/upload-artifact@v6
        with:
          name: ${{ matrix.arch }}-${{ matrix.os }}-artifacts
          path: target/package/

  publish:
    needs: [meta, package]
    timeout-minutes: 5
    permissions:
      contents: write
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/download-artifact@37930b1c2abaa49bbe596cd826c3c89aef350131
        with:
          path: ${{ runner.temp }}/artifacts
      - run: find "$RUNNER_TEMP"/artifacts -type f -ls
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8
      - if: needs.meta.outputs.mode == 'release'
        uses: softprops/action-gh-release@a06a81a03ee405af7f2048a818ed3f03bbf83c7b
        with:
          name: validator ${{ needs.meta.outputs.version }}
          files: ${{ runner.temp }}/artifacts/**/*
