name: Proxy-init release

on:
  pull_request:
    paths:
      - .github/workflows/release-proxy-init.yml
  push:
    tags: ["proxy-init/v*"]

permissions:
  contents: read

jobs:
  meta:
    timeout-minutes: 3
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683
      - uses: ./.github/actions/version-mode
        id: meta
        with:
          package: proxy-init
    outputs:
      repo: ${{ steps.meta.outputs.repo }}
      mode: ${{ steps.meta.outputs.mode }}
      version: ${{ steps.meta.outputs.version }}

  docker-publish:
    needs: meta
    runs-on: ubuntu-latest
    timeout-minutes: 10
    permissions:
      id-token: write # needed for signing the images with GitHub OIDC token
    steps:
      # Build multi-arch docker images for proxy-init:
      - uses: actions/cache@1bd1e32a3bdc45362d1e726936510720a7c30a57
        with:
          path: ${{ runner.temp }}/.buildx-cache
          key: proxy-init-${{ needs.meta.outputs.mode }}-${{ needs.meta.outputs.version }}
          restore-keys: proxy-init-${{ needs.meta.outputs.mode }}-

      - uses: docker/setup-qemu-action@49b3bc8e6bdd4a60e6116a5414239cba5943d3cf
      - uses: linkerd/dev/actions/setup-tools@v44
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683
      - run: |
          just proxy-init-image='${{ needs.meta.outputs.repo }}:${{ needs.meta.outputs.version }}' \
                build-proxy-init-image \
                  --cache-from type=local,src="$RUNNER_TEMP/.buildx-cache" \
                  --cache-to type=local,dest="$RUNNER_TEMP/.buildx-cache",mode=max \
                  --platform linux/amd64,linux/arm64,linux/arm/v7
      - run: just-dev prune-action-cache "$RUNNER_TEMP/.buildx-cache"

      # Only publish images on release
      - if: needs.meta.outputs.mode == 'release'
        uses: docker/login-action@9780b0c442fbb1117ed29e0efdff1e18412f7567
        with:
          registry: ghcr.io
          username: ${{ secrets.DOCKER_GHCR_USERNAME }}
          password: ${{ secrets.DOCKER_GHCR_PAT }}
      - if: needs.meta.outputs.mode == 'release'
        run: |
          just proxy-init-image='${{ needs.meta.outputs.repo }}:${{ needs.meta.outputs.version }}' \
                build-proxy-init-image \
                  --cache-from type=local,src="$RUNNER_TEMP/.buildx-cache" \
                  --cache-to type=local,dest="$RUNNER_TEMP/.buildx-cache",mode=max \
                  --platform linux/amd64,linux/arm64,linux/arm/v7 \
                  --output type=registry
      - if: needs.meta.outputs.mode == 'release'
        uses: sigstore/cosign-installer@c56c2d3e59e4281cc41dea2217323ba5694b171e
      - if: needs.meta.outputs.mode == 'release'
        run: cosign sign -y "${{ needs.meta.outputs.repo }}:${{ needs.meta.outputs.version }}"
        env:
          COSIGN_EXPERIMENTAL: 1

  github:
    needs: [meta, docker-publish]
    timeout-minutes: 5
    permissions:
      contents: write
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683
      - if: needs.meta.outputs.mode == 'release'
        uses: softprops/action-gh-release@7b4da11513bf3f43f9999e90eabced41ab8bb048
        with:
          name: proxy-init ${{ needs.meta.outputs.version }}
