name: Release
on:
  push:
    tags:
    - "*"
jobs:
  buildx:
    name: Build & Push Multi Arch Images
    runs-on: ubuntu-20.04
    steps:
    - name: Checkout code
      # actions/checkout@v2.0.0
      uses: actions/checkout@5a4ac9002d0be2fb38bd78e4b4dbde5606d7042f
    - name: Set up Docker Buildx
      # crazy-max/ghaction-docker-buildx@v3.1.0
      uses: crazy-max/ghaction-docker-buildx@126d331dc69f4a1aa02452e374835e6a5d565613
    - name: Docker Buildx (build)
      run: make images
    - name: Docker Buildx (push)
      run: |
        echo "${{ secrets.DOCKER_GHCR_PAT }}" | docker login ghcr.io -u "${{ secrets.DOCKER_GHCR_USERNAME }}" --password-stdin
        make push
    - name: Docker Check Manifest
      run: make inspect-manifest
