name: Validator release

on:
  pull_request:
    paths:
      - .github/workflows/release-validator.yml
  push:
    tags: ["validator/v*"]

permissions:
  contents: read

jobs:
  meta:
    timeout-minutes: 15
    runs-on: ubuntu-latest
    container: ghcr.io/linkerd/dev:v43-rust
    steps:
      - uses: actions/checkout@a5ac7e51b41094c92402da3b24376905380afc29
      - uses: ./.github/actions/version-mode
        id: meta
        with:
          package: validator
          check: true
    outputs:
      repo: ${{ steps.meta.outputs.repo }}
      mode: ${{ steps.meta.outputs.mode }}
      version: ${{ steps.meta.outputs.version }}

  package:
    needs: meta
    strategy:
      matrix:
        arch: [amd64, arm64, arm]
    timeout-minutes: 10
    runs-on: ubuntu-latest
    container: ghcr.io/linkerd/dev:v43-rust-musl
    steps:
      - uses: actions/checkout@a5ac7e51b41094c92402da3b24376905380afc29
      - run: just validator arch=${{ matrix.arch }} profile=release version=${{ needs.meta.outputs.version }} package
      - uses: actions/upload-artifact@v4
        with:
          name: ${{ matrix.arch }}-artifacts
          path: target/package/

  publish:
    needs: [meta, package]
    timeout-minutes: 5
    permissions:
      contents: write
    runs-on: ubuntu-latest
    steps:
      - uses: actions/download-artifact@65a9edc5881444af0b9093a5e628f2fe47ea3b2e
        with:
          path: ${{ runner.temp }}/artifacts
      - run: find "$RUNNER_TEMP"/artifacts -type f -ls
      - uses: actions/checkout@a5ac7e51b41094c92402da3b24376905380afc29
      - if: needs.meta.outputs.mode == 'release'
        uses: softprops/action-gh-release@fb2d03176f42a1f0dd433ca263f314051d3edd44
        with:
          name: validator ${{ needs.meta.outputs.version }}
          files: ${{ runner.temp }}/artifacts/**/*
