name: Rust

on:
  pull_request:
    paths:
      - .github/workflows/rust.yml
      - '**/*.rs'
      - '**/Cargo.toml'
      - Cargo.lock
      - deny.toml
      - justfile

jobs:
  check:
    timeout-minutes: 5
    runs-on: ubuntu-24.04
    container: ghcr.io/linkerd/dev:v48-rust
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8
      - run: just rs-fetch
      - run: just rs-fmt-check
      - run: just rs-clippy
      - run: just rs-test-build
      - run: just rs-test
      - run: cargo deny --all-features check bans licenses sources
      - run: cargo deny --all-features check advisories
        continue-on-error: true
