name: Shell

permissions:
  contents: read

on:
  pull_request:
    paths:
      - '**/*.sh'
      - .github/workflows/shellcheck.yml
      - justfile

jobs:
  sh-lint:
    timeout-minutes: 5
    runs-on: ubuntu-24.04
    steps:
      - uses: linkerd/dev/actions/setup-tools@v47
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3
      - run: just sh-lint
