name: Shell

permissions:
  contents: read

on:
  pull_request:
    paths:
      - '**/*.sh'
      - .github/workflows/shellcheck.yml
      - justfile

jobs:
  sh-lint:
    timeout-minutes: 5
    runs-on: ubuntu-24.04
    steps:
      - uses: linkerd/dev/actions/setup-tools@v48
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8
      - run: just sh-lint
