name: Static checks
on:
  pull_request: {}
  push:
    paths-ignore:
    - '*.md'
    - '**/*.md'
    branches:
    - master
jobs:
  go_lint:
    name: Go lint
    runs-on: ubuntu-20.04
    container: ghcr.io/linkerd/dev:v21-go
    steps:
    - name: Checkout code
      uses: actions/checkout@2541b1294d2704b0964813337f33b291d3f8596b
    - name: Go Lint
      uses: golangci/golangci-lint-action@537aa1903e5d359d0b27dbc19ddd22c5087f3fbc
      with:
        version: v1.29
  go_format:
    name: Go format
    runs-on: ubuntu-20.04
    container: ghcr.io/linkerd/dev:v21-go
    steps:
    - name: Checkout code
      uses: actions/checkout@2541b1294d2704b0964813337f33b291d3f8596b
    - uses: extractions/setup-just@aa5d15c144db4585980a44ebfdd2cf337c4f14cb
    - name: Go Fmt
      run: just fmt
