name: Unit tests
on:
  pull_request: {}
  push:
    paths-ignore:
    - '*.md'
    - '**/*.md'
    branches:
    - master
jobs:
  go_unit_tests:
    name: Go unit tests
    runs-on: ubuntu-20.04
    container:
      image: golang:1.14.15
    steps:
    - name: Checkout code
      uses: actions/checkout@2541b1294d2704b0964813337f33b291d3f8596b
    - uses: extractions/setup-just@aa5d15c144db4585980a44ebfdd2cf337c4f14cb
    - name: Run unit tests
      run: just go-test-unit
